:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: #C5FFF8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Navigation*/
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black
}

button {
  border-radius: 8px;
  border: 2px solid #797979;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #96EFFF;
  cursor: pointer;
  transition: border-color 0.25s;
}

.left-group, .right-group {
  display: flex;
  gap: 20px;
}

.right-group button{
  background-color: #5FBDFF;
}

nav .left-group {
  flex-grow: 1;
}

nav .right-group {
  justify-content: flex-end;
}

h1 {
  border: 1px solid black;
  font-size: 50px;
}

/*Container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.content {
  width: 70%;
  background-color: lightblue;
}

.friendsList {
  width: 25%;
  background-color: #6AD4DD;
  border-radius: 8px;
}
