:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: #C5FFF8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Navigation*/
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black
}

button {
  border-radius: 8px;
  border: 2px solid #797979;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #96EFFF;
  cursor: pointer;
  transition: border-color 0.25s;
}

.left-group, .right-group {
  display: flex;
  gap: 20px;
}

.right-group button{
  background-color: #5FBDFF;
}

nav .left-group {
  flex-grow: 1;
}

nav .right-group {
  justify-content: flex-end;
}

h1 {
  border: 1px solid black;
  font-size: 50px;
}

/*Container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.content {
  width: 70%;
  background-color: lightblue;
}

.friendsList {
  width: 25%;
  background-color: #6AD4DD;
  border-radius: 8px;
  align-items: center;
}

/*Friend card*/
.friend{
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.friendProfilPicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.friendInfo{
  display: flex;
  flex-direction: column;
}

.friendInfo p{
  margin: 0;
  padding: 0;
}

/*Profile*/
.progileInfo{
  background-color: #6AD4DD;
  position: relative;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.progileInfo p{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: flex-start;
}

.avatar{
  font-size: smaller;
}

.profilPicture{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}
.stats{
  text-align: left;
}

.stats h2{
  margin: 0;
}

.stats h3{
  margin: 0;
}

.logout{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FF6666;
}

.box{
  background-color: #6AD4DD;
  margin: 10px;
  padding: 10px;
  display:flex;
  flex-direction: column;
}

.favouriteBooks{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.favouriteBook{
  width: 100px;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favouriteBookImage{
  height: 130px;
  width: 100px;
  background-color: black;
}

.achievement {
  position: relative;
  display: inline-block;
}

.achievement img {
  width: 100px; /* Adjust as per your needs */
  height: auto;
}

.achievement-description {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 110%;
  background-color: #96EFFF;
  border: 1px #797979 solid;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
}

.achievement:hover .achievement-description {
  display: block;
}

/*Book List*/
.bookList {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.list {
  width: 70%;
  background-color: lightblue;
}

.filter {
  width: 25%;
  height: 100%;
  background-color: #6AD4DD;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.filter h3{
  margin: 5px;
}

.categories{
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: hidden auto;
  align-items: start;
  width: 80%;
  align-self: center;
}

.categories p{
  margin: 0;
}

.categories label{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}