:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: #C5FFF8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.content {
  width: 70%;
  background-color: lightblue;
}

.friendsList {
  width: 25%;
  background-color: #6AD4DD;
  border-radius: 8px;
  align-items: center;
}

/*Friend card*/
.friend{
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.friendProfilPicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.friendInfo{
  display: flex;
  flex-direction: column;
}

.friendInfo p{
  margin: 0;
  padding: 0;
}

/*Book*/

.book{
  width: 100px;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookImage{
  height: 130px;
  width: 100px;
  background-color: black;
}