.bookshelfFilter {
    text-align: start;
}

.bookshelfFilter select {
    margin-left: 5px;
}

.bookshelfImage {
    width: 150px;
    margin: 10px;
}

.bookshelfCard {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #6AD4DD;
    border: 1px solid #797979;
    margin: 30px 0;
}

.bookshelfCard p {
    text-align: start;
    margin: 5px;
}

.bookshelfButtons {
    margin-left: auto;
    padding: 20px;
}

.bookshelfFunctionButton {
    background-color: transparent;
    border: none;
    font-size: 2em;
}

.progress-bar {
    width: 300px;
    background-color: #96EFFF;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
}

.progress-fill {
    background-color: #5FBDFF;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 20px;
    transition: width 0.3s ease;
    border-radius: 8px;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.window-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.window button {
    margin: 10px;
}